/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#about {
    background-image: url("../src/assets/digital.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    max-height: 100%;
}